html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* THE PROFESSOR */

.navbar-inverse a.navbar-brand {
    color: #fff;
}
.wrap > .container {
    padding-top: 50px;
}

.skin-blue section.sidebar ul.sidebar-menu > li{
    position: relative;
}

.skin-blue section.sidebar ul.sidebar-menu > li.active{
    position: relative;
}

.skin-blue section.sidebar ul.sidebar-menu > li.active > a{
    background: #fff;
    color: #2b7dbc;
}

.skin-blue section.sidebar ul.sidebar-menu > li:before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    border: 2px solid;
    border-width: 0 2px 0 0;
    height: 44px;
    border-color: transparent;
}

.skin-blue section.sidebar ul.sidebar-menu > li:hover:before{
    border-color: #2b7dbc;
}

.skin-blue section.sidebar ul.sidebar-menu > li.treeview > ul.treeview-menu{
    position: relative;
}

.skin-blue section.sidebar ul.sidebar-menu > li.treeview > ul.treeview-menu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 22px;
    top: 0;
    bottom: 0;
    border: 1px dotted;
    border-width: 0 0 0 1px;
    border-color: #8eb3d0;
}

.skin-blue section.sidebar ul.sidebar-menu > li.treeview.active > ul.treeview-menu > li.active > a {
    background: #f5f7fa;
    color: #2b7dbc;
    border: 1px dotted #e4e4e4;
}

.skin-blue section.sidebar ul.sidebar-menu > li.active:after {
    display: block;
    content: "";
    position: absolute;
    right: -2px;
    top: -1px;
    bottom: 0;
    z-index: 1;
    border: 2px solid;
    border-width: 0 2px 0 0;
    border-color: #2b7dbc;
}

.skin-blue section.sidebar ul.sidebar-menu > li.active > a:after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 7px;
    border: 8px solid transparent;
    border-width: 14px 8px;
    z-index: 2;
    border-right-color: #2b7dbc;
}

.skin-blue section.sidebar ul.sidebar-menu > li.treeview ul.treeview-menu > li{
    position: relative;
}

.skin-blue section.sidebar ul.sidebar-menu > li.treeview ul.treeview-menu > li:before {
    content: "";
    display: block;
    width: 5px;
    position: absolute;
    z-index: 3;
    left: 24px;
    top: 15px;
    border: 1px dotted;
    border-width: 1px 0 0;
    border-color: #8eb3d0;
}

.skin-blue aside.right-side ul.breadcrumb {
    margin-bottom: 0;
}

.skin-blue .right-side > .content-header {
    background: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    height: 50px;
}

